<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="box" id="heading" style="margin-top: 100px;max-width: fit-content;">
        <h1>ToDo App</h1>
    </div>
    <hr style="color: rgb(54, 54, 54);width: 50%;border: 5px solid rgb(134, 134, 134);border-radius: 5px;">

    <div class="row login" style="width: fit-content;margin: 50px auto;">
        <button type="submit" class="btn" style="margin-right: 400px;" onclick="location.href='/login';">Log In</button>
        <button type="submit" class="btn" onclick="location.href='/register';">Register</button>
    </div>

</body>
</html>